body{
    background-image: url(background\ image.jfif);
    border: 4px groove green;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.nav
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    b
}
.first{
    border: 10px solid brown;
    border-radius: 30px;
    width: 30%;
    background-color: black;
    color: #fff;
    box-sizing: border-box;
    font-size: 25px;
}

.second{
    border: 10px solid brown;
    border-radius: 30px;
    width: 40%;
    height: 45px;
    background-color: black;
    color: #fff;
    word-spacing: 10px;
    text-align: center;
    font-size: 15px;
    position: relative;
    right: 12%;
    top: 12px;
    
}
.third{
    border: 10px solid brown;
    border-radius: 30px;
    width: 25%;
    background-color: black;
    color: #fff;
    text-align: center;

}
.circle{
    width: 400px;
    height: 400px;
    border: 8px solid grey;
    border-radius: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    font-weight: bolder;
    background-color: darkcyan;
    margin-top: -500px;
    margin-left: 50px;
    text-decoration: underline;
    font-style: italic;
    
}
hr{
    color: #fff;
}
.form{
    background-color: #fff;
    border: 10px dashed  red;
    width: 450px;
    height: 700px;
    color: red;
    text-transform: capitalize; 
    box-sizing: border-box;
    margin-left: 50%;
    margin-top: 200px;
    text-align: center;
    background: linear-gradient(hotpink,grey);
    
}
.menu{
    border: 10px solid red;
    background-color: black;
    color: #red;
    border-radius: 50px;
    width: 40%;
    text-align: center;
    font-style: italic;
    margin-left: 30%;
    margin-top: 150px;
    background: linear-gradient(hotpink,aliceblue,grey);
}
.hr{
    color: grey;
    
}
.start{
    background-color: cyan;
    width: 25%;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 10px;
    margin: 100px;
    font-size: 25px;
    color: purple;
    background: linear-gradient(hotpink,aliceblue,grey);
}

 .south{
    background-color: cyan;
    width: 25%;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 10px;
    margin: 30px;
    font-size: 25px;
    color: purple;
    margin-left: 38%;
    margin-top: -465px;
    background: linear-gradient(hotpink,aliceblue,grey);
    
}
.indian{
    background-color: cyan;
    width: 25%;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 10px;
    margin: 30px;
    font-size: 25px;
    color: purple;
    margin-left: 70%;
    margin-top: -398px;    
    background: linear-gradient(hotpink,aliceblue,grey);
}